* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100%;
}

html {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$basic_color: #024353;
$text_white: white;

.footer-color {
  background-color: $basic_color;
}

.notice {
  color: $text_white;
  font-size: 23px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.section {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.navbar-item img {
  max-height: 3.75rem
}

.nav a {
  color: $text_white;
}

.cl-btn-2 {
  margin: -35px;
  display: flex;
  justify-content: flex-end;
}

.cl-btn-2 div {
  cursor: pointer;
  position: relative;
  height: 70px;
  width: 56px;
}

.cl-btn-2 .leftright {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 42px;
  background-color: red;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.cl-btn-2 .rightleft {
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 42px;
  background-color: red;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}

.cl-btn-2 .close-btn {
  margin: 54px 0 0 -5px;
  position: absolute;
  color: red;
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .3s ease-in;
  opacity: 0;
}

.cl-btn-2 div:hover .leftright {
  transform: rotate(-45deg);
  background-color: #000;
}

.cl-btn-2 div:hover .rightleft {
  transform: rotate(45deg);
  background-color: #000;
}

.cl-btn-2 div:hover .close-btn {
  opacity: 1;
}

.gallery img {
  transition: 1s;
  width: 100px;
  height: 100px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}
